[submodule ".vim/pathogen.vim"]
	path = .vim/pathogen.vim
	url = https://github.com/vim-scripts/pathogen.vim.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-buffergator"]
	path = .vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule ".vim/bundle/dbext.vim"]
	path = .vim/bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule ".vim/bundle/import-js"]
	path = .vim/bundle/import-js
	url = https://github.com/trotzig/import-js.git
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
